/* body{
    overflow: hidden;
} */
.app-container {
    width: calc(100% - var(--MENU-WIDTH));
    position: absolute;
    top: var(--NAV-HEIGHT);
    left: var(--MENU-WIDTH);
    height: calc(100% - var(--NAV-HEIGHT));
    overflow: auto;
}
.app-container-overlay {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: auto;
    z-index: 5;
    display: none;
    background-color: white;
}
.app-container-overlay.show {
    display: block;
}

.app-container-overlay .head,
.app-container-overlay .body   {
    width:100%;     position: relative;
}

.app-container-overlay .head {
    height: 3em;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

.app-container-overlay .head > .close-icon {
    position: absolute;     right: 1em;
    top: 50%;     width: 2.4em;     height: 2.4em;
    transform: translateY(-50%);
    max-width:2.4em; max-height: 2.4em;
    cursor: pointer;    overflow: hidden;
}
.app-container-overlay .head > .close-icon:hover {
    filter: grayscale(80%);
}
.app-container-overlay .head > .title {
    left: calc(50%);
    top: 50%;
    position: absolute;
    display: block;
    max-width: 70%;
    transform: translate(-50%, -50%);
    font-size: 13pt;
    font-family: Montserrat, Gulf;
    color: white;
}

.app-container-overlay .body {
    height: calc(100% - 3.4em);
    width: calc(100% - 0.4em);
    margin-top: 0px;
    padding: 0.2em;
    background-color: rgb(252, 252, 252);
}
.app-container-overlay.half .head {
    /* background-color: rgb(66, 63, 63); */
}
.app-container-overlay.half {width: 50%;box-shadow: #918f8f 5px 1px 14px 1px;}
.app-container-overlay.full {width: 100%;}
.app-container-overlay.half.shifted-right.show {animation: shiftright-half-appcontainer 0.4s ease-out forwards;}
.app-container-overlay.full.shifted-right.show {animation: shiftright-full-appcontainer 0.4s ease-out forwards;}
.app-container-overlay.shifted-right {
    outline: 1000px solid rgba(56, 56, 56, 0.2);
    transform: translateX(100%);
}

@keyframes shiftright-half-appcontainer {
    0% {transform: translateX(150%); opacity: 3;}
    100% {transform: translateX(100%); opacity: 1;}
}
@keyframes shiftright-full-appcontainer {
    0% {transform: translateX(100%); opacity: 3;}
    100% {transform: translateX(0%); opacity: 1;}
}

.app-container-backdrop {
    position: fixed;    top: 0px;   left: 0px;
    width: 100%;    height: 100%;   z-index: 4;
    background-color: transparent;  display: none;
}
.app-container-backdrop.show {display: block;}

.app-container .head-title {
    margin: 1em 1em 1em 0.0em;
    font-size: 14pt;
    font-family: var(--BASE-FONTS);
    max-width: 15em;
    overflow: hidden;
    white-space: none;
    text-overflow: ellipsis;
    font-weight: lighter;
}

.app-container .head-title + hr {
    margin: 0 auto;
    width: 95%;
    border: none;                  /* Remove default border */
    border-top: 1.5px solid #525050;    /* Nice solid line for the <hr> */
    margin-top: 1em;               /* Space between the <h1> and <hr> */
    margin-bottom: 1em;            /* Space after the <hr> */
}

.app-container .head-actions {
   position: absolute; top: 1.3em;   right: 0px;
   max-width: 35em; height: 1.9em;

   background-color: rgb(240, 240, 240);
   margin: 0.6em 1em 0em 0em;
   padding: 0.0em 0.0em;
   border: 1.5px solid darkgray;
   border-radius: 0.5em; user-select: none;
}