.input-form-v1 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: border 0.4s ease-in;
    border: 1px solid lightgray;
    margin: 10px;
}

.input-form-v1:hover {
    border: 1px solid rgb(181, 181, 181);
}
.input-form-v1 > label {
    margin-right: 10px;
}
.input-form-v1 > input {
    outline: 1px solid rgba(17, 187, 88, 0.5);
    padding: 5px; border: 1px solid #ccc; border-radius: 5px; flex-grow: 1;
     /* Allow the input to grow and fill the available space */ min-width: 0; /
}
.input-form-v1 > .input {
    outline: 1px solid rgba(17, 187, 88, 0.5);
    padding: 5px; border: 1px solid #ccc; border-radius: 5px; flex-grow: 1;
     /* Allow the input to grow and fill the available space */ min-width: 0;
     overflow:hidden;
}
.input-form-v1 > .input > *{
    display: inline-block;
}

.input-one-char {
    width: 35px; max-width: 35px;
    overflow: hidden; 
    text-align: center;
    font-family: monospace;
    font-size: 15pt;
    padding: 5px;
    box-shadow: inset rgb(220, 220, 220) 0px 0px 3px 0.3px;
    border-radius: inherit;
    border:1px solid gray;
}
.login-button { 
    font-family: 'Gulf', 'Montserrat', sans-serif; 
    font-size: 16px; 
    font-weight: 700; 
    color: #fff; 
    background-color: #007bff; 
    border: none; padding: 10px 20px; 
    border-radius: 5px; 
    /* Rounded edges like the inputs */ 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    outline: none;
}

.login-button:hover { 
    background-color: #0056b3; transform: translateY(-2px); 
} 
.login-button:active { 
    background-color: #004080; transform: translateY(1px);
}
.login-button:disabled {
    background-color: #b5b1b1;
    pointer-events: none;
    cursor: not-allowed;
}